name: Deploy VPS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.HOST }}
        username: root
        password: ${{ secrets.PASSWORD }}
        port: 22
        timeout: 120s
        command_timeout: 30m
        script: |
          mkdir -p /root/NicoBot
          cd /root/NicoBot
          
          if [ ! -d ".git" ]; then
            git init
            git remote add origin https://github.com/${{ github.repository }}.git
          fi
          
          git fetch --all
          git reset --hard origin/main
          
          echo "GROQ_API_KEY=${{ secrets.GROQ_API_KEY }}" > .env
          echo "MONGO_URI=${{ secrets.MONGO_URI }}" >> .env
          echo "NODE_SERVICE_URL=http://motor:3000/send-message" >> .env
          echo "PYTHON_URL=http://cerebro:8000/webhook" >> .env
          
          docker compose up -d --build --remove-orphans
          
          docker image prune -f